*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}

.backg{
    position: fixed;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/image_1.png);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    z-index: -1;
    width: 100%;
    height: 108vh;
}

#menumapnav{
    height: 50px;
    width: 90px;
    font-size: large;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    background-color: #ee432c;
    border-radius: 10px;
    box-shadow: 2px 1px 1px black;
}

#menumapnav:hover{
    transform: translateX(5px);
    background-color: #cc503d;
}

#menumapnav:focus{
    transform: translateX(5px);
    background-color: #cc503d;
}

.confirmationbox{
    width: 700px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    background: #ee432c;
    box-shadow: 0 5px 15px black;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
    border: none;
    border-radius: 20px;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.btnreturnpage{
    width: 60px;
    top: 10px;
    left: 10px;
    padding: 30px 30px;
    position: absolute;
    border-radius: 100%;
    background-image: url(../assets/image_2.png);
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
}

.btnreturnpage:hover{
    background-color: #4d9ca9;
    transform: translateX(-2px);
}

.btnreturnpage:focus{
    transform: translateX(-4px);
    transition: transform .4s ease;
}

.confirmationbox h1{
    color: white;
    margin-bottom: 47px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px #000000;
}


.informationbox h1{
    color: white;
    margin-bottom: 12px;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px #000000;
}

.informationbox h2{
    color: white;
    margin-bottom: 80px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 1px #000000;
}

.input-group{
    position: relative;
    width: 270px;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.input-group label{
    position: absolute;
    left: 10px;
    font-size: 24px;
    color: #f6cc9e;
    font-weight: 900;
    transform: translateY(0);
    transition: transform .5s ease;
    pointer-events: none;
}

.input-group input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}
.email:hover label,
.email:focus-within label,
.input-group.filled label{
    transform: translateY(-45px);
    text-shadow: 1px 1px 1px #000000;
}


.btnsubmit{
    width: 150px;
    top: 360px;
    left: 270px;
    position: absolute;
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
    background-color: #da3f2a;
    color: white;
    z-index: 1;
    box-shadow: #000000 2px 1px;
    cursor: pointer;
    border: 2px solid #d32f2f;
}

.btnsubmit:hover{
    background-color: #2596be;
    color: #f6cc9e;
    transform: translateY(-2px);
}