*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.backg{
    position: fixed;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/image_1.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
    width: 110%;
    height: 113vh;
}