*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}

.backg{
    position:absolute;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/image_3.png);
    background-size: cover;
    background-position: center scroll;
    background-attachment: scroll;
    z-index: -1;
    width: 100%;
    height: 108vh;
}

#menumapnav{
    height: 50px;
    width: 90px;
    font-size: large;
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    background-color: #ee432c;
    border-radius: 10px;
    box-shadow: 2px 1px 1px black;
}

#menumapnav:hover{
    transform: translateX(5px);
    background-color: #cc503d;
}

#menumapnav:focus{
    transform: translateX(5px);
    background-color: #cc503d;
}

.logbox{
    width: 350px;
    height: 450px;
    top: 150px;
    margin: 0 auto;
    position: relative;
    background: #ee432c;
    box-shadow: 0 5px 15px black;
    align-items: center center;
    text-align: center;
    padding: 30px;
    border: none;
    border-radius: 20px;
    z-index: 1;
}

